body {
  background-color: #f5f8fa !important;
}

.swiper-button-prev {
  color: #ffba08 !important;
  left: 20px !important;
}
.swiper-button-next {
  color: #ffba08 !important;
  right: 20px;
}

.swiper-pagination-bullet {
  color: #ffba08 !important;
}

.swiper-pagination-bullet-active {
  color: #ffba08 !important;
}
